<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Properties>
        <Property name="log-path">PropertiesConfiguration</Property>
    </Properties>
    <Appenders>
        <Console name="Console-Appender" target="SYSTEM_OUT">
            <PatternLayout>
                <pattern>
                    %d{ISO8601}|%highlight{[%-5level]} %c{1} -%msg%ex{full}%n
                </pattern>
            </PatternLayout>
        </Console>
    </Appenders>
    
 <Loggers>
        <!-- Hibernate logging -->
        <Logger name="org.hibernate.SQL" level="trace" additivity="false">
            <AppenderRef ref="Console-Appender" />
        </Logger>
        <Logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="trace" additivity="false">
            <AppenderRef ref="Console-Appender" />
        </Logger>
        <Logger name="org.hibernate.pretty" level="all" additivity="false">
            <AppenderRef ref="Console-Appender" />
        </Logger>
        
        <!-- Custom application logging -->
        <Logger name="bloodbank" level="trace" additivity="false">
            <AppenderRef ref="Console-Appender" />
        </Logger>

        <!-- Root logger set to show all logs -->
        <Root level="all">
            <AppenderRef ref="Console-Appender" />
        </Root>
    </Loggers>
</Configuration>