<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration>
    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- No padding after the logger name -->
            <pattern>%d{"yyyy-MM-dd'T'HH:mm:ss.SSS'Z'",UTC} | %-5level | [%t] | %logger | %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Suppress warnings from Podam -->
    <logger name="uk.co.jemos.podam.api" level="ERROR" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <!-- logger level for CST code, only INFO and above -->
    <logger level="info" additivity="false" name="jdbccmd">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <root level="info">
        <appender-ref ref="CONSOLE"/>
    </root>

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <!-- reset all previous level configurations of all j.u.l. loggers -->
        <resetJUL>true</resetJUL>
    </contextListener>
</configuration>
